<main>
    <div class="container">
        <div class="lots-list center">
            <div *ngFor="let lot of lots" class="lot-item card-panel">
                <a href="">
                    <img src="../../assets/upload-img-def.png" alt="">
                    <div class="center">
                        <span class="lot-name">{{lot.name}}</span>
                    </div>
                    <div class="lot-price">{{lot.startPrice}}</div>
                    <div>End of bid: <span>{{lot.dateAdded}}</span> </div>
                </a>
            </div>
        </div>
    </div>
</main>