<header>
    <nav>
        <div class="container">
            <ul class="flex-header">
                <li class="logo">
                    <i class="fab fa-jenkins"></i>
                    <span class="site-name">UqBuy</span>
                </li>
                <li>
                    <input class="search-input browser-default" type="text" placeholder="Search🔍">
                </li>
                <li>
                    <div class="sign-in-block">
                        <a *ngIf="!userClaims; else userName" routerLink="sign-in" routerLinkActive="hidden-sing-in">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="sign-in-hint">Sign in</span>
                        </a>
                        <ng-template #userName>
                            <span class="card-panel black-text">Hi {{userClaims.UserName}} !</span>
                            <input (click)="logoutHandler()" type="button" class="btn" value="Logout">
                        </ng-template>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="center">
    <a routerLink="lotslist" routerLinkActive="selected" class="btn">
        <i class="material-icons">keyboard_backspace</i>
        Back to lots
    </a>
</div>
<router-outlet (activate)="routerOutletChanged()"></router-outlet>